#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: inline-grid
}

.card-form {
  width: 600px;
}

.text {
  color: black;
}

.padding {
  padding: 0.25em;
}

.align-center {
  display: flex;
  justify-content: space-around;
}

.photo {
  width: 50%;
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.login {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid greenyellow;
  margin-top: 30px
}

.login .heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login .button {
  margin-top: 0px;
  margin-bottom: 10px;
}

.login .input-fields {
  width: 200px;
  display: flex;
  margin-bottom: 10px;
}

.nav {
  border-bottom: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav .logo {
  height: 30px;
  padding: 0;

}

.nav .nav-link {
  border: 1px solid gray;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 4px;
}
